

.calendars_tabWrap{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgba(233, 219, 193, 0.514);
}
.prev{
    width: 10%;
    background-image: url(/src/Image/left_arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.next{
    width: 10%;
    background-image: url(/src/Image/right_arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.ntb_tab{
    display: flex;
    align-items: baseline;
    justify-content: center;
    list-style: none;
    padding: 0px;
    padding-top: 15px;
    width: 80%;
    flex-direction: row;
    margin-top: 0px;
}


.tab>a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: medium;
}
.tab>a>span{
    padding: 15px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.clickMonth{
    background-color: rgb(251, 253, 253);
    color: red;
}

.nonGo{
    color: green;
    font-size: 5px;
    text-align: center;
    margin-left: 9px;
}

.Go{
    opacity: 0;
}
