

.calendars_tabWrap{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgba(233, 219, 193, 0.514);
}
.prev{
    background-image: url(/src/Image/left_arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
}
.next{
    background-image: url(/src/Image/right_arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
}
.ntb_tab{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    padding-top: 15px;
    width: 100%;
    flex-direction: row;
    margin-top: 0px;
}

.monthbar{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: medium;
}
a div{
    height: 45px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrowbar span{
    height: 45px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.click{
    background-color: rgb(251, 253, 253);
    text-align: center;
}

.monthbar>div:hover{
    background-color: rgb(251, 253, 253);
}

.nogo{
    display: flex;
    font-size: small;
    color: rgb(31, 136, 235);
}
.go{
    display: none;
}

