.open_others {
    position: fixed;
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 1;
    overflow: hidden;
    background-color: #00000080;
    padding: 10% 10% 0 10%;
}

.otheraday{
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid orangered;
    border-radius: 5px;
    font-size: smaller;
}

.close_others {
    display: none;
}

.watchmore{
    color: rgb(56, 95, 82);
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

.days{
    padding: 0px;
    height: 110px;
    min-width: 78px;
    border: 1px solid beige;
}
.otherdays{
    padding: 0px;
    height: 110px;
    min-width: 78px;
    border: 1px solid rgba(245, 245, 220, 0);
}
.chooseMonth{
    display: flex;
}
.otherMonth{
    display: none;
}

tr{
    display: flex;
}

th{
    text-align: left;
}
tbody{
    width: 100px;
}

.price{
    color: red;
    font-size: medium;
}
.Daytitle{
    display: flex;
    justify-content: space-between
}
.details{
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: small;
}
.onschedule{
    background-color: rgb(243, 177, 53);
    color: white;
    font-weight: bolder;
    padding: 2px;
    font-size: small;
}
.nonschedule{
    display: none;
}
.clickDay{
    border: 1px solid rgb(129, 221, 75);
    background-color: rgba(236, 215, 157, 0.418);
    height: 106px;
    width: 72px;
}
.weekDay{
    width: 100%;
}

.currentDays{
    background-color: white;
    height: 106px;
    width: 72px;
}
.Monthdisplay{
    display: flex;
}
.Monthnone{
    display: none;
}
