.days{
    padding: 0px;
    height: 110px;
    min-width: 78px;
    border: 1px solid beige;
}
.otherdays{
    padding: 0px;
    height: 110px;
    min-width: 78px;
    border: 1px solid rgba(245, 245, 220, 0);
}
.chooseMonth{
    display: flex;
}
.otherMonth{
    display: none;
}

tr{
    display: flex;
}

th{
    text-align: left;
}
tbody{
    width: 100px;
}

.price{
    color: red;
    font-size: medium;
}
.Daytitle{
    display: flex;
    justify-content: space-between
}
.details{
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: small;
}
.onschedule{
    background-color: rgb(243, 177, 53);
    color: white;
    font-weight: bolder;
    padding: 2px;
    font-size: small;
}
.nonschedule{
    display: none;
}
.clickDay{
    border: 1px solid rgb(129, 221, 75);
    background-color: rgba(236, 215, 157, 0.418);
    height: 106px;
    width: 72px;
}
.weekDay{
    width: 100%;
}

.currentDays{
    height: 106px;
    width: 72px;
}
.Monthdisplay{
    display: flex;
}
.Monthnone{
    display: none;
}
