td:hover{
    background-color: beige;
}

.tab>a:hover{
    background-color: aliceblue;
}

td{
    min-width: 76px;
    height: 110px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.price{
    color: red;
    font-size: small;
}
.Daytitle{
    display: flex;
    justify-content: space-between
}
.details{
    color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: small;
}
.onschedule{
    background-color: rgb(243, 177, 53);
    color: white;
    font-weight: bolder;
    padding: 2px;
    font-size: small;
}
