.Rectangle{
    width: 320px;
    height: 735px;
    flex-grow: 0;
    margin: 23px 26px 71px 44px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,40px);
    grid-template-rows: repeat(13,35px);
    align-items: center;
    justify-items: center;   
    gap: 20px;
    padding: 21px 20px 19px;
}
.grid>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.Seat{
    border: solid 1px #3ea5d9;
    border-radius: 5px;
    background-color: #fff;
}
.position {
    width: 100%;
    height: 15px;   
    padding: 10px 0px;
    flex-grow: 0;
    font-family: MicrosoftJhengHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.device{
    border-radius: 10px;
    background-color:rgba(102, 102, 102, 0.39);
}
.nunseat{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 0px;
    border-right: 5px solid gray;
}
.disappear{
    display: none!important;
}
/* tag */
.seatsFlag{
    padding: 23px 44px;
}
.seatsFlag  div{
    display: inline-block;
}
.flag{
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 1px #3ea5d9;
}
.selected{
    background-color: #3ea5d9;
    color: #fff;
}
.disabled{
    background-color:rgba(10, 10, 10, 0.39);
    background-image: url(/src/Image/slash_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.safety{
    width: 60px;
    grid-column-start: 1!important;
    grid-column-end: 3!important;
    border-left: 5px solid gray;
    border-right: none;
}
.appliance{
    color: rgb(107, 107, 107)!important;
}